{% if messages %}
    {% for message in messages %}
        <div class="toast align-items-center text-bg-{{ message.tags }} border-0 position-fixed top-0 end-0 mt-3 me-3" role="alert" style="z-index: 9999;">
            <div class="d-flex">
                <div class="toast-body">
                    {{ message }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
    {% endfor %}
{% endif %}